* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color:#fff;   
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px; 
  font-weight: 300;
  padding-bottom: 1em;   
}

h2 {
  font-size: 50px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}


/*============= Header ===============*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #080A09;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  height: 80px;
  margin: 30px;
}

.nav-list {
  display: flex;
}

.nav-list a {
  margin: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.nav-list a:hover {
  color: #daa520;
}

@media screen and (max-width: 480px) {
  .logo {
    height: 60px;
    margin: 10px;
  }
  
  .nav-list a {
    margin: 15px;
  }

  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 40px;
  }
}
  

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  height: 100vh;
  background-color: #080A09;
  color: #fff;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 8rem 2rem;
  background-color: #45567d;
}  

.projects-section-header {
  color: #fff;
  margin: 0 auto 6rem auto;
}

.project-tile {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 5px;
}

.project-name {
  margin: 1em;
}

hr {
  margin: 1.25em;
}

.project-link {
  text-decoration: none;
  color: #daa520;
}

.project-link:hover {
  font-size: 1.25rem;
}

/* Contact section */

.contact-section {
  text-align: center;
  padding: 8rem 2rem;
  height: 90vh;
  background-color: #303841;
}

.contact-links {
  width: 100%;
}

.contact-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-links a {
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 3em 1em;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.contact-links a:hover {
  height: 55px;
  width: 55px;
}

/* footer */

footer {
  background-color: #45567d;
  padding: 10px;
  text-align: center;
}

@media(min-width: 400px){
  .nav-content .logo{
    width: 10%;
  }
}
@media (min-width: 600px){
  .nav-content ul {
    font-size: 24px;
  }
  .nav-content ul li a{
      padding: 46px;
  }
  .nav-content ul li a:hover {
    background-color: #000;
    color: #be3144;
  }
}
